<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>OUR MEAL</title>
    <link
      rel='shortcut icon'
      href='../images/fav_icon.png'
      type='image/x-icon'
    />
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link
      href='https://fonts.googleapis.com/css?family=Open+Sans'
      rel='stylesheet'
    />
    <!-- Bulma Version 0.9.0-->
    <link
      rel='stylesheet'
      href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'
    />
    <style type='text/css'>
      html, body { font-family: 'Open Sans'; } img { padding: 5px; border: 1px
      solid #ccc; }
    </style>
  </head>

  <body>
    <section class='hero is-fullheight is-default is-bold'>
      <div class='hero-head'>
        <nav class='navbar'>
          <div class='container'>
            <div class='navbar-brand'>
              <a class='navbar-item' href='../'>
                <img
                  src='/public/assets/Screen Shot 2021-08-10 at 4.01.08 PM.png'
                  alt='Logo'
                />
              </a>
              <span class='navbar-burger burger' data-target='navbarMenu'>
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id='navbarMenu' class='navbar-menu'>
              <div class='navbar-end'>
                <div class='tabs is-right'>
                  <ul>
                    <a href='/'>Home</a>
                    {{#if loggedIn}}
                      <button id='logout' class='btn-no-style'>Logout</button>
                    {{else}}
                      <a href='/login'>Login</a>
                    {{/if}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class='hero-body'>
        <div class='container has-text-centered'>
          <div class='columns is-vcentered'>
            <div class='column is-5'>
              <figure class='image is-4by3'>
                <img
                  src='https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80'
                  alt='Description'
                />
              </figure>
            </div>
            <div class='column is-6 is-offset-1'>
              <h1 class='title is-2'>
                OUR MEALS
              </h1>
              <h2 class='subtitle is-4'>
                Good food shouldn't be just doctor recommended.
              </h2>
              {{{body}}}
            </div>
          </div>
        </div>
      </div>

      <div class='hero-foot'>
        <div class='container'>
          <div class='tabs is-centered'>

          </div>
        </div>
      </div>
    </section>

  </body>

</html>