

<div class='card mb-3'>
  <img src='/public/images/01-meal.jpeg' class='card-img-top' alt='...' />
 {{!-- <div class='dish-card-header'>
    {{meal_name}}
  </div> --}}
  <div class='card-body'>
    <p>
      Meal:{{meal_name}}
    </p>
    <p> 
      Description:{{description}}
    </p>
</div>
{{!-- <div class='card'>
  <div class='card-body'>
    <h5 class='card-title'>Card title</h5>
   
  </div>
  <img src='...' class='card-img-bottom' alt='...' />
</div> --}}